<!-- У вашому файлі add_tariff.html -->
{% extends "parking/base.html" %} {% block content %}
<h3><i class="fa-solid fa-table-list"></i>  Pay the invoice</h3>
<div class="container">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <button class="btn btn-primary" type="submit">Pay</button>
      </li>
      <li class="list-group-item">
        <a class="btn btn-primary" href="{% url 'finance:main' %}">Back</a>
      </li>
    </ul>
  </form>
</div>
{% endblock content %}
