{% extends "parking/base.html" %}
{% load static %}
{% block extra_head %}
<script src="{% static 'finance/js/payments_list.js' %}"></script>
{% endblock %}
{% block content %}
<h3>Payments List{% if filter_params.days %} for last {{ filter_params.days}} days {%endif%}. Total results: {{filter_params.total_rows}}</h3>
  <div class="container-fluid table-responsive bd-example">
    <table class="table table-striped table-hover text-nowrap">
      <thead class="">
        <tr>
          <th scope="col">ID</th>
          <th scope="col"><i class="bi bi-receipt"></i> Registration</th>
          <th scope="col"><i class="bi bi-calendar"></i>&nbsp;Datetime</th>
          <th scope="col" class="" title="Car Number In"><i class="bi bi-car-front"></i> IN</th>
          <th scope="col"><i class="bi bi-cart-check"></i> Amount</th>
          <th scope="col" title="Dynamic calculation for a car that hasn't left yet"><i class="bi bi-basket"></i> Inv.</th>
          <th scope="col" title="Moved out"><i class="bi bi-arrow-right-square"></i></th>
        </tr>
      </thead>
      <tbody>
        {% for payment in page_obj.object_list %}
        <tr scope="row">
          <td>{{ payment.id }}</td>
          <td class="font-monospace">{{ payment.registration_id.pk|stringformat:"06d" }}</td>
          <td>{{ payment.datetime|date:'Y-m-d H:i' }}</td>
          <td>{{ payment.registration_id.car_number_in }}</td>
          <td>{{ payment.amount }} {{ currency }}</td>
          <td>{{ payment.registration_id.calculate_parking_fee }} {{ currency }}</td>
          <td>
            {% if payment.registration_id.exit_datetime %}
            <img src="{% static 'parking/icon-yes.svg' %}" alt="Yes" />
            {%else%}<img src="{% static 'parking/icon-no.svg' %}" alt="No" />
            {%endif%}
          </td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<nav>
  <div class="d-flex justify-content-center">
    <span class="text-center" style="width: 80px">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}&days={{ filter_params.days }}" class="btn btn-sm btn-outline-primary" role="button">Prev</a>
      {% endif %}
    </span>

    <ul class="pagination pagination-sm">
      {% for p in paginator.page_range %}
      <li class="page-item{% if p == page_obj.number %} active{% endif %}">
        <a href="?page={{ p }}&days={{ filter_params.days }}" class="page-link">{{ p }}</a>
      </li>
      {% endfor %}
    </ul>
    <span class="text-center" style="width: 80px">
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&days={{ filter_params.days }}" class="btn btn-sm btn-outline-primary" role="button">Next</a>
      {% endif %}
    </span>
  </div>
</nav>

<form class="row gx-1 gy-2 align-items-baseline" id="form_filter" method="GET" action="">
      <div class="col-2">
        <input type="hidden" name="page" value="{{ request.GET.page }}" />
        <div class="input-group" title="Show only last days">
          <label class="input-group-text" for="days" title="Days" aria-label="Days">
            <i class="bi bi-calendar"></i>&nbsp;<span class="btn_text_short">Days</span>:</label>
          <input
            type="number"
            class="form-control h-100"
            name="days"
            id="days"
            value="{% if filter_params.days %}{{ filter_params.days }}{% endif %}"
          />
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group" title="Filter by Registration ID">
          <label class="input-group-text" for="r_id"><i class="bi bi-receipt"></i><span class="btn_text_short">&nbsp;Registration</span></label>
          <input type="text" class="form-control" id="r_id" name="r_id" placeholder="Reg ID" aria-label="Reg ID" value="{{ filter_params.r_id }}"/>
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group" title="Filter by car number">
          <label class="input-group-text" for="car_no"><i class="bi bi-car-front"></i>
            <span class="btn_text_short">&nbsp;IN:</span></label>
          <input type="text" class="form-control" id="car_no" name="car_no" placeholder="Car NO IN" aria-label="Car NO" value="{{ filter_params.car_no }}" />
        </div>
      </div>
      <div class="col">
        <button type="button" onclick="clear_form()" title="Clear text fields"
              class="btn btn-sm "><i class="fas fa-times"></i></button>
        <button type="submit" class="btn btn-sm btn-primary text-nowrap" title="Filter" aria-label="Filter">
          <i class="bi bi-filter-square"></i><span class="btn_text_short"> Filter</span>
        </button>
      </div>
</form>
 <input type="hidden" name="page" value="{{ request.GET.page }}" />
 <div class="container mt-3">
    <div class="col">
      <a class="btn btn-primary" href="{% url 'finance:main' %}"><i class="bi bi-arrow-left-circle"></i>
         <span class="btn_text_short"> Back</span></a>
      <a class="btn btn-primary" target="" href="{% url 'finance:download_csv' %}" title="Export to CSV">
        <span class="btn_text_short"></span><i class="bi bi-filetype-csv"></i> Save</a>
    </div>
</div>
{% endblock %}
