absl-py==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.3.3 ; python_version >= "3.10" and python_version < "3.12"
certifi==2024.6.2 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
contourpy==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
django-filter==24.2 ; python_version >= "3.10" and python_version < "3.12"
django-tables2==2.7.0 ; python_version >= "3.10" and python_version < "3.12"
django==5.0.6 ; python_version >= "3.10" and python_version < "3.12"
djangorestframework==3.15.1 ; python_version >= "3.10" and python_version < "3.12"
flatbuffers==24.3.25 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.53.0 ; python_version >= "3.10" and python_version < "3.12"
gast==0.5.4 ; python_version >= "3.10" and python_version < "3.12"
google-auth-oauthlib==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.29.0 ; python_version >= "3.10" and python_version < "3.12"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.64.1 ; python_version >= "3.10" and python_version < "3.12"
h5py==3.11.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.7 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
keras==2.15.0 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.12"
libclang==18.1.1 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.6 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.9.0 ; python_version >= "3.10" and python_version < "3.12"
ml-dtypes==0.3.2 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
opencv-python-headless==4.10.0.82 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
opencv-python==4.10.0.82 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "win32" or sys_platform == "darwin")
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.10" and python_version < "3.12"
pdf2image==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.10" and python_version < "3.12"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
pypng==0.20220715.0 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.12"
qrcode==7.4.2 ; python_version >= "3.10" and python_version < "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "3.12"
setuptools==70.0.0 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sqlparse==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "3.12"
tensorboard==2.15.2 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-cpu-aws==2.15.1 ; platform_system == "Linux" and (platform_machine == "arm64" or platform_machine == "aarch64") and python_version >= "3.10" and python_version < "3.12"
tensorflow-estimator==2.15.0 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-intel==2.15.1 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
tensorflow-io-gcs-filesystem==0.31.0 ; python_version >= "3.10" and python_version < "3.12"
tensorflow==2.15.1 ; python_version >= "3.10" and python_version < "3.12"
termcolor==2.4.0 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.12.1 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "win32"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
wheel==0.43.0 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.14.1 ; python_version >= "3.10" and python_version < "3.12"
