asgiref==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
django==5.0.4 ; python_version >= "3.11" and python_version < "4.0"
psycopg2==2.9.9 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
