annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.4.0 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
exceptiongroup==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.110.3 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.7 ; python_version >= "3.10" and python_version < "3.12"
pydantic-core==2.18.2 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.7.1 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
python-multipart==0.0.9 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.12.0 ; python_version >= "3.10" and python_version < "3.12"
uvicorn==0.29.0 ; python_version >= "3.10" and python_version < "3.12"
