{% extends "parking/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary">
                <div class="card-body">
                    <a href="{% url 'photos:upload' %}" class="btn btn-primary btn-lg btn-block">Upload photo of car</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary">
                <div class="card-body">
                    <a href="{% url 'photos:upload' %}?type=0" class="btn btn-primary btn-lg btn-block">Upload IN photo of car</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary">
                <div class="card-body">
                    <a href="{% url 'photos:upload' %}?type=1" class="btn btn-primary btn-lg btn-block">Upload OUT photo of car</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
