<!-- parking/templates/car_list.html -->
{% extends "parking/base.html" %}
{% block content %}
    <h1>List of Cars</h1>
    
    <!-- Форма фільтрації -->
    <form method="GET" action="{% url 'cars:car_list' %}">
        <!-- Додайте поля фільтрації за вашими потребами -->
        <label for="car_number">Car Number:</label>
        <input type="text" name="car_number">
        
        <label for="blocked">Blocked:</label>
        <select name="blocked">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
        
        <button type="submit">Filter</button>
    </form>


    {% if cars %}
    <div class="bd-example">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Photo</th>
                <th scope="col">Predict</th>
                <th scope="col">Blocked</th>
                <th scope="col">Pay Pass</th>
            </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <th scope="row">{{ car.car_number }}</th>

                        <td>
                            <img src="{{ car.photo_car.url }}" alt="Car photo">
                        </td>
                        <td>{{ car.predict }}</td>
                        <td>{{ car.blocked }}</td>
                        <td>Pass:{{ car.pay_pass }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <li>No cars found.</li>
    {% endif %}
    <br>

{% endblock content %}
