POSTGRES_DB=fastparking_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=XXXXXXXXX
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


MAIL_USERNAME=username@example.com
MAIL_PASSWORD=paswword_to_email
MAIL_FROM=username@example.com
MAIL_PORT=465
MAIL_SERVER=smtp.example.com
MAIL_FROM_NAME="Education GoIT. Fast Parking proj"

DJANGO_SECRET_KEY="some_secret_key_for_production_k$adsk;lhPUO*R*P"
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=""

APP_PORT=8000

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=${MAIL_FROM}
DJANGO_SUPERUSER_PASSWORD=SecreTpasSword

TELEGRAM_TOKEN=""
TELEGRAM_BOT_NAME="fastparking_bobr_bot"
TELEGRAM_NEWS_NAME="@fastparking_news"




