POSTGRES_DB=fastparking_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=XXXXXXXXX
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


MAIL_USERNAME=username@example.com
MAIL_PASSWORD=paswword_to_email
MAIL_FROM=username@example.com
MAIL_PORT=465
MAIL_SERVER=smtp.example.com
MAIL_FROM_NAME="Education GoIT. Fast Parking proj"

DJANGO_SECRET_KEY="some_secret_key_for_production_k$adsk;lhPUO*R*P"
DJANGO_DEBUG=0
DJANGO_DEBUG_SQL=0
DJANGO_ALLOWED_HOSTS=""


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=${MAIL_FROM}
DJANGO_SUPERUSER_PASSWORD=SecreTpasSword

TELEGRAM_TOKEN=
TELEGRAM_BOT_NAME="fastparking_bobr_bot"
TELEGRAM_NEWS_NAME="@fastparking_news"

# full URL of web hook copied from Discord settings
DISCORD_WEBHOOK_HOSTING=
DISCORD_WEBHOOK_NEWS=
# full URL to image with avatar
DISCORD_AVATAR_HOSTING=
DISCORD_AVATAR_NEWS=
# Chanell feedback
DISCORD_FEEDBACK=

USE_DS_NUMBER_DETECTION=1

# PURPOSE=-demo
PURPOSE=

BRANCH=dev

APP_PORT=8000
APP_PORT_API=9000
APP_HOST_API=127.0.0.1
API_PLATE_DETECTION=/api/v1/plate/detection
API_USE_PLATE_DS=1
API_PORT_WEBSOCKET=9090
API_DEBUG_IMAGE_QUEUE=0

# STATIC_DEPLOY="/var/www/html/fastparking"
STATIC_DEPLOY=

# DEMO_URL="https://some.url/users/login/"
DEMO_URL=



