<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="https://fonts.googleapis.com/css?family=DM Sans" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'parking/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'parking/docs.css' %}" />
    <link rel="stylesheet" href="{% static 'parking/css/all.min.css' %}" />
    <link rel="icon" href="{% static 'parking/favicon.png' %}" />
    {% block extra_head %}{% endblock %}
    <title>{{title}}</title>
  </head>
  <body>
    <main class="d-flex flex-nowrap">
      <h1 class="visually-hidden">Sidebars examples</h1>

      <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-custom">
        <a href="/" class="mx-auto mb-1 text-white text-decoration-none">
<!--          <svg class="bi pe-none me-2" width="10" height="32"><use xlink:href="#bootstrap" /></svg>-->
          <img src="{% static 'parking/logo-main5.png' %}" title="Neuron Curve Bobr" alt="NC Bobr" style="max-width: 60px; width: 100%;" />
          <span id="team-long" class="ms-1 fs-4"  title="Neuron Curve Bobr">NeuronCurveBobr</span>
        </a>
        <p class="m-0 fs-4 team-short text-center" title="Neuron Curve Bobr">NC Bobr</p>
        <hr class="m-2" />
        <ul class="nav nav-pills flex-column">
          <li>
            <a class="nav-link {% if active_menu == 'home' %}active{% else %}text-white{% endif %}" href="/">
              <i class="fa-solid fa-home"></i>
              <span class="nav-item mx-auto">Home</span>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a
              class="nav-link {% if active_menu == 'accounts' %}active{% else %}text-white{% endif %}"
              href="{% url 'accounts:profile' %}"
            >
              <i class="fa-solid fa-user"></i>
              <span class="nav-item">Profile</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if active_menu == 'registration' %}active{% else %}text-white{% endif %}"
              href="{% url 'parking:registration_list' %}"
            >
              <i class="fa-solid fa-car-building"></i>
              <span class="nav-item">Registration</span>
            </a>
          </li>
          {% if user.is_superuser %}
          <li>
            <a class="nav-link {% if active_menu == 'cars' %}active{% else %}text-white{% endif %}" href="/cars/">
              <i class="fa-solid fa-car"></i>
              <span class="nav-item">Cars</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a
              class="nav-link {% if active_menu == 'finance' %}active{% else %}text-white{% endif %}"
              href="{% url 'finance:main' %}"
            >
              <i class="fa-solid fa-table-list"></i>
              <span class="nav-item">Finance</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if active_menu == 'photos' %}active{% else %}text-white{% endif %}"
              href="{% url 'photos:main' %}"
            >
              <i class="fa-solid fa-camera"></i>
              <span class="nav-item">Car Recognition</span>
            </a>
          </li>
          <li>
          <li>
            <a
              class="nav-link {% if active_menu == 'messages' %}active{% else %}text-white{% endif %}"
              href="{% url 'communications:main' %}"
            >
              <i class="fa-solid fa-earth-americas"></i>
              <span class="nav-item">Messages</span>
            </a>
          </li>

            <a
              class="nav-link {% if active_menu == 'logout' %}active{% else %}text-white{% endif %}"
              href="{% url 'users:logout' %}"
            >
              <i class="fa-solid fa-sign-out"></i>
              <span class="nav-item">Logout</span>
            </a>
          </li>
          {% else %}
          <li>
            <a
              class="nav-link {% if active_menu == 'signin' %}active{% else %}text-white{% endif %}"
              href="{% url 'users:username' %}"
            >
              <i class="fa-solid fa-user"></i>
              <span class="nav-item">SignIn</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if active_menu == 'signup' %}active{% else %}text-white{% endif %}"
              href="{% url 'users:register' %}"
            >
              <i class="fa-solid fa-user-check"></i>
              <span class="nav-item">SignUp</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <hr />
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="{% static 'parking/mdo.png' %}" alt="" width="32" height="32" class="rounded-circle me-2" />
            {% if user.is_authenticated %}
            <strong>{{user.username}}</strong><span style="color: #00d000"> &#9679;</span>
            {% else %}
            <strong>Username </strong>
            {% endif %}
          </a>
        </div>
      </div>
      <div class="b-example-divider b-example-vr">
      </div>

      <div class="container-fluid">
        {% block content %} {% endblock %}
      </div>
    </main>
  </body>
</html>
