{% extends "parking/base.html" %} {% block content %} {% load static %}
<h2>Plan of parking</h2>
<h3>Total places: {{ parking_spaces.count }}. Free places: {{parking_spaces_count}}</h3>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-6 g-2">
    {% for entry in parking_spaces %}
    <div class="col">
      <div class="card" style="max-width: 140px; width: 100%">
        <img
          class="card-img-top"
          width="100%"
          alt="{{entry.number}}"
          title="{{entry.number}}"
          src="{% if entry.status %}{% static 'parking/car-02.png' %}{% else %}{% static 'parking/car-01.png' %}{%endif%}"
        />
        <div class="text-center"><p class="card-title">{{entry.number}}</p></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
