{% extends "parking/base.html" %} {% block content %} {% load static %}
<h1>Combined Registration List</h1>
<div class="container-fluid">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Parking Space</th>
        <th>Entry Datetime</th>
        <th>Exit Datetime</th>
        <th>Car Number In</th>
        <th>Car Number Out</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
      <tr>
        <td>{{ registration.id }}</td>
        <td>{{ registration.parking }}</td>
        <td>{{ registration.entry_datetime|date:'Y-m-d H:i e' }}</td>
        <td>{{ registration.exit_datetime|date:'Y-m-d H:i e' }}</td>
        <td>{{ registration.car_number_in }}</td>
        <td>{{ registration.car_number_out }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
